extends base

block nav
    - var pageName = "HOME"
    include _partial/menu

block header
    - var pageHeader = __("site_index")
    include _partial/body_header

block content
    div.body__content
        each post in page.posts.toArray()
            a(href=url_for(post.path), title=post.title).body__item.post__title
                span!= post.title
                span(class="archive_date")!= date(post.date)
    div.body__pagination
        div.pull-right!= paginator()
    div#disqus_thread

